body {
  background: papayawhip;
}


@media (min-width: 700px) {
.a {
  display: block;
  border: black 2px solid;
  flex-direction: row;
  margin: auto;
  min-height: 5em;
}

.b {
  display: block;
  border: black 4px solid;
  flex-direction: row;
  min-height: 200px;
  max-width: 50%;
}

.cde {
  padding: 10px;
  display: flex;
  flex-direction: row;
  max-height: 50px;
  max-width: 50%;
}

.c {
  display: flex;
  border: black 4px solid;
  padding: 10px;
  width: 100%;
  
}

.d {
  display: flex;
  border: black 4px solid;
  padding: 10px;
  width: 100%;
}

.e {
  display: flex;
  border: black 4px solid;
  padding: 10px;
  width: 100%;
}

.f {
  display: flex;
  justify-items: flex-end;
  border: black 4px solid;
  max-width: 20%;
  position: relative;
  left: 36em;
  top: -9em;
}

.bcdef {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

}

.a {
  display: block;
  border: black 2px solid;
  flex-direction: row;
  margin: auto;
  min-height: 100px;
}

.cde {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.c {
  display: block;
  border: black 4px solid;
  padding: 10px;
  width: 100%;
}

.d {
  display: block;
  border: black 4px solid;
  padding: 10px;
  width: 100%;
}

.e {
  display: block;
  border: black 4px solid;
  padding: 10px;
  width: 100%;
}

.b {
  display: block;
  border: black 4px solid;
  padding: 10px;
  width: 100%;
  min-height: 3em;
}

.f {
  display: flex;
  border: black 4px solid;
  padding: 10px;
  width: 100%;
  height: 150px;
}

.bcdef {
  display: flex;
  flex-direction: column;
}
